- name: Ensure the destination directory exists
  ansible.builtin.file:
    path: /root/semaphore
    state: directory
    mode: '0755'

- name: copy semaphore db files
  copy:
    src: database.boltdb
    dest: /root/semaphore/database.boltdb
    mode: '0666'

- name: copy semaphore cinfig files
  copy:
    src: config.json
    dest: /root/semaphore/config.json
    mode: '0666'

- name: copy semaphore docker-compose.yml files
  copy:
    src: docker-compose.yml
    dest: /root/semaphore/docker-compose.yml
    mode: '0666'

- name: docker Install semaphore
  ansible.builtin.raw: docker compose -f /root/semaphore/docker-compose.yml up -d
  register: my_output # <- Registers the command output.
  changed_when: my_output.rc != 0 # <- Uses the return code to define when the task has changed.
  tags: install_semaphore