services:
  semaphore:
    ports:
      - 3000:3000
    image: semaphoreui/semaphore:latest
    environment:
      SEMAPHORE_DB_DIALECT: bolt
      SEMAPHORE_ADMIN_PASSWORD: password
      SEMAPHORE_ADMIN_NAME: admin
      SEMAPHORE_ADMIN_EMAIL: admin@localhost
      SEMAPHORE_ADMIN: admin
      TZ: Europe/Berlin
    volumes: # 需要 配置文件 和数据库文件 ，否则无法启动，可先不挂载，在容器内部生成配置文件 和数据库文件
      - ./config.json:/etc/semaphore/config.json # config.json location
      - ./database.boltdb:/var/lib/semaphore/database.boltdb # database.boltdb location (Not required if using mysql or postgres)
